---
import { getCollection, getEntryBySlug } from 'astro:content'
import BaseHead from '#/shared/base-head.astro'
import BaseLayout from '#/shared/base-layout.astro'

const { slug } = Astro.params
if (!slug) throw new Error('Slug is required')

const post = await getEntryBySlug('posts', slug)
if (!post) throw new Error('Entry not found')

const { Content } = await post.render()

export async function getStaticPaths() {
	const posts = await getCollection('posts')
	return posts.map((entry) => ({
		params: { slug: entry.slug },
	}))
}
---

<html lang="en">
	<head>
		<BaseHead title={post.data.title} description="Post for Astro" />
	</head>
	<body>
		<BaseLayout>
			<h1 class="mb-4 text-xl">{post.data.title}</h1>
			<div class="prose">
				<Content />
			</div>
		</BaseLayout>
	</body>
</html>
