---
import { getCollection } from 'astro:content'
import Layout from '../../shared/base-layout.astro'

export async function getStaticPaths() {
	const blogEntries = await getCollection('posts')
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout>
	<h1 class="mb-4 text-xl">{entry.data.title}</h1>
	<div class="prose">
		<Content />
	</div>
</Layout>
