---

---

<main class="grid min-h-dvh">
	<div class="container mx-auto grid grid-rows-[100px_1fr] gap-4">
		<div class="flex items-end border-b border-black/15 py-4">
			<a href="/" class="text-3xl font-bold hover:underline"
				>Astro + Keystatic ⚡</a
			>
		</div>
		<div>
			<slot />
		</div>
	</div>
</main>
