---
import { getCollection } from 'astro:content'
import Layout from '../shared/base-layout.astro'

const posts = await getCollection('posts')
---

<Layout>
	<ul>
		{
			posts.map((post) => (
				<li class="text-lg">
					<a class="text-gray-600 hover:underline" href={`/posts/${post.slug}`}>
						{post.data.title}
					</a>
				</li>
			))
		}
	</ul>
</Layout>
